/* TAGS */

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #898989;
}

ul,
li {
    list-style: none;
    padding-left: 0; 
}

/* NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    width: 100%; 
    top: 0; 
    z-index: 1000; /
}


.nav-items {
    display: flex;
    gap: 18px;
}

.background {
    background-image: url("../Imgs/1.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-principal {
    padding-top: 60px; 
    display: flex;
    flex-direction: column;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}


.conteudo-principal {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}


#produtos,
#sobre-nos,
#localizacao {
    padding-top: 80px; 
}


.background {
    padding-top: 60px; 
    background-image: url("../Imgs/1.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e7eb;
    padding-left: 5%;
    padding-right: 5%;
    position: fixed;
    width: 100%;
    top: 0; 
    z-index: 1000;
}

.nav-items {
    display: flex;
    gap: 18px;
}

.background {
    background-image: url("../Imgs/1.jpg");
    background-position: center;
    background-size: cover;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}

.titulo {
    font-size: 5em;
    margin-bottom: 0px;
}

.paragrafo {
    font-size: 1em;
    margin-bottom: 0;
}

.botao {
    padding: 16px;
    width: fit-content;
    border-radius: 20px;
    cursor: pointer;
}

.carrosel {
    display: flex;
    justify-content: space-evenly;
}

.tenis {
    border: 1px solid black;
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
}

#tenis-branco {
    transform: scaleX(-1);
}

.imagem-carrosel {
    width: 300px;
    height: 200px;
}

.paragrafo-venda {
    font-size: 2em;
    font-weight: bold;
}

.preco {
    text-align: center;
    color: red;
}

.sobre-nos {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}

.homem-img {
    width: 800px;
    height: auto; 
    border-radius: 32px;
}

.flex-col {
    flex-direction: column;
}

.paragrafos-about {

    width: 50%;
    display: flex;
    gap: 1rem
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1em;
    justify-content: center;
}

.localizacao {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.map-container {
    height: 500px;
   
    width: 1000px; 
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e5e7eb;
}

.map-iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: rgb(228, 228, 228);
    color: gray;
    padding-left: 5%;
    padding-right: 5%;
}

.paragrafo-footer {
    font-size: 2em;
    margin-bottom: 0;
}